<html>
    <head>
        <title>Autobot</title>
        <script src = "https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <link rel="icon" href="https://faviconka.ru/ico/1/faviconka.ru_1_102250.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="https://faviconka.ru/ico/1/faviconka.ru_1_102250.ico" type="image/x-icon" />
    </head>
    <body>
        
        <h1>{{ title }}</h1>

        <div id = "chart"></div>

        <div id = "trades"></div>
        <div id = 'my_balance'>
            <h2>Balances</h2>
        <table>
            <th>Ticker</th>
            <th>Balance</th>
            <th>In order</th>
            {% for b in my_balance %}
            <tr>

            </tr>
            <tr>
                     <td> {{b[0]}} </td>
                     <td> {{b[1]}} </td>
                     <td> {{b[2]}} </td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <h3> Settings</h3>
        <div id=:settings>
            <input type="checkbox"/> RSI 
            <input type="text" id="rsi_lenght" name="rsi_lenhg" placeholder="14"/>
            Overbought
            <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70"/>
            Oversold
            <input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30"/>
            
        </div>


        <script>
            //var binanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/btcusdt@trade")
            var tradeDiv = document.getElementById("trades")
            
            /*
            binanceSocket.onmessage = function (event) {
                console.log(event.data);
                var messageObject = JSON.parse(event.data)
                tradeDiv.append(messageObject.p)
            }*/

        </script>
        <script src="{{ url_for('static', filename='chart1.js') }}"></script>
    </body>
</html>